pipeline/pl_activities.json
{
	"name": "pl_activities",
	"properties": {
		"activities": [
			{
				"name": "lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select * from dbo.employees",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_table",
						"type": "DatasetReference",
						"parameters": {
							"schema": "dbo",
							"table": "employees"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Switch1",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@activity('lookup').output.count",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "Case1",
							"activities": [
								{
									"name": "Set variable2",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "name",
										"value": "success"
									}
								}
							]
						}
					],
					"defaultActivities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "pipelineReturnValue",
								"value": [
									{
										"key": "name",
										"value": {
											"type": "String",
											"content": "success"
										}
									}
								],
								"setSystemVariable": true
							}
						}
					]
				}
			}
		],
		"variables": {
			"name": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-07-01T01:54:34Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}